*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;

	/* Префикс -webkit- для iOS проставит autoprefixer при сборке. */
	text-size-adjust: 100%;
}

body {
	background-color: var(--wpf-color-bg);
	color: var(--wpf-color-text);
	font-family: var(--wpf-font-base);
	font-size: var(--wpf-font-size-base);
	line-height: var(--wpf-line-height);
}
